<div class="jumbotron">
  <h1>Difusse Logic Practice</h1>

  <button type="button" class="btn btn-primary" ui-sref=".bell">Bell</button>
  <button type="button" class="btn btn-primary btn-md" ui-sref=".triangle">Triangle</button>
  <button type="button" class="btn btn-primary" ui-sref=".gaussiana">Gaussiana</button>
  <button type="button" class="btn btn-primary" ui-sref=".option4">Option 4</button>
  <button type="button" class="btn btn-primary" ui-sref=".option5">Option 5</button>

  <div ui-view></div>
</div>
