<div ng-app="janusApp">

  <button type="button" class="btn btn-primary" ui-sref=".triangle" ng-model="name">Triangle</button>
  <button type="button" class="btn btn-primary" ui-sref=".trapezoid" ng-model="name">Trapezoid</button>
  <button type="button" class="btn btn-primary" ui-sref=".gaussian" ng-model="name">Gaussian</button>
  <button type="button" class="btn btn-primary" ui-sref=".bell" ng-model="name">Bell</button>
  <button type="button" class="btn btn-primary" ui-sref=".sigmoid" ng-model="name">Sigmoid</button>

  <div ui-view=""></div>
</div>
